= form_for @ball do |f|
  .sportify-page
    .sportify-panel.sportify-small-panel.sportify-radius
      %h1.sportify-font Customize Ball
      .form-group
        = f.label :color, class: 'sportify-label'
        %br/
        = f.select :color, options_for_select(Ball::COLORS), {}, class: 'form-select form-control'
      %br
      = button_tag fa_icon('cart-arrow-down', text: "Get a Ball (#{@ball.price})"), type: 'submit', class: 'btn sportify-primary-button sportify-wide-button sportify-radius sportify-font fs-4'
