.sportify-page
  .sportify-panel.sportify-small-panel.sportify-radius
    %h1.sportify-font Player Details
    = render 'form'
  .sportify-panel.sportify-big-panel.sportify-radius
    %h1.sportify-font Reservation Details
    .form-group 
      = label_tag :place, 'Place', class: 'sportify-label'
      .form-control{ disabled: true }= @reservation.place
    .form-group 
      = label_tag :status, 'Status', class: 'sportify-label'
      .form-control{ disabled: true }= @reservation.status
    .form-group 
      = label_tag :free_slots, 'Free slots', class: 'sportify-label'
      .form-control{ disabled: true }= "#{@reservation.free_slots} slots"
    .form-group 
      = label_tag :phone_number, 'Arena Phone Number', class: 'sportify-label'
      .form-control{ disabled: true }= @reservation.field.arena.phone_number
