.sportify-page
  .sportify-panel.sportify-small-panel.sportify-radius
    = form_tag('/reservations/new', method: :get) do
      = hidden_field_tag 'arena_id'
      = button_tag fa_icon('plus', text: 'Create a Reservation'), type: 'submit', id: 'arenas-create-reservation-button', class: 'btn sportify-primary-button sportify-radius sportify-font fs-4'
    %br
      = link_to fa_icon('chevron-right', text: 'Join a Game'), reservations_path, id: 'arenas-create-reservation-button', class: 'btn sportify-primary-button sportify-radius sportify-font fs-4'
    %br

    %h1.sportify-font Arenas
    %br

    .table-responsive
      %table.table.table-success.table-striped
        %thead
          %tr
            %th Title
            %th Location
            %th 
        %tbody
          - @arenas.each do |arena|
            %tr
              %td= arena.title 
              %td= arena.location
              %td= link_to fa_icon('eye'), arena_path(arena), class: 'btn sportify-small-button sportify-radius fs-5'

  .sportify-panel.sportify-big-panel.sportify-radius
    -# Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dolores provident rerum amet veniam deserunt cupiditate numquam iste cum tempore accusamus quidem voluptatem impedit similique vel, eum esse dicta perferendis.
    %body
      #map
