.table-responsive
  %table.table.table-success.table-bordered
    %thead
      %tr
        %th{ scope: 'col' }
        - @field_timetable.keys.each do |date|
          %th= date.strftime(Reservation::DATE_FORMATS[:timetable])
    %tbody
      - Reservation::WORKING_HOURS.each do |hour|
        %tr
          -# TODO: REFACTOR
          %td #{hour}:00-#{hour + 1}:00
          - @field_timetable.keys.each do |date|
            -# - byebug # poate merge asa cu slot-date
            %td.timetable-slot{ id: "slot-#{date}-#{hour}", date: date, hour: hour, class: @field_timetable[date][hour] ? 'occupied-slot' : 'free-slot' }
