.sportify-page
  .sportify-panel.sportify-big-panel.sportify-radius
    %h1.sportify-font GamesFeed
    %br
    .table-responsive
      %table.table.table-success.table-striped
        %thead
          %tr
            %th Date
            %th Place
            %th Join
        %tbody
          - @recent_reservations.each do |reservation|
            %tr
              %td= reservation.display_datetime
              %td= reservation.place
              - if current_user
                %td= link_to fa_icon('eye'), reservation_path(reservation), class: "btn sportify-small-button sportify-radius fs-5 #{highlight_reservation_class(reservation, Player.first || current_player)}" # invers
              - else
                %td= link_to fa_icon('eye'), new_user_session_path, class: 'btn sportify-small-button sportify-radius fs-5 error-notice-background'
          - @upcoming_reservations.each do |reservation|
            %tr
              %td= reservation.display_datetime
              %td= reservation.place
              - if current_user
                - if reservation.participate?(current_player)
                  %td= link_to fa_icon('eye'), reservation_path(reservation), class: 'btn sportify-small-button sportify-radius fs-5 participate-reservation-highlight'
                - else
                  - if reservation.awaiting_response?(current_player)
                    // TechQuestion18? - Cum sa evit logica asta in view? Cand ai chestii asa nested. E ok sa le 'pregatesti' din-ainte in controller?
                    - join_request = JoinRequest.find_by(reservation_id: reservation.id, player_id: current_player.id)
                    %td= link_to fa_icon('arrow-right'), edit_join_request_path(join_request), class: 'btn sportify-small-button sportify-radius fs-5 participate-reservation-highlight'
                  - else
                    %td= link_to fa_icon('arrow-right'), new_join_request_path(reservation_id: reservation.id, player_id: current_player.id), class: 'btn sportify-small-button sportify-radius fs-5'
              - else
                %td= link_to fa_icon('eye'), new_user_session_path, class: 'btn sportify-small-button sportify-radius fs-5'
  .sportify-panel.sportify-small-panel.sportify-radius
    - if user_signed_in?
      %h1.sportify-font Hello #{current_user.player.nickname}!
      %br
      - if current_player.upcoming_reservations.any?  
        %h2.sportify-font Upcoming Reservations
        %br
        .table-responsive
          %table.table.table-success.table-striped
            %thead
              %tr
                %th Type
                %th Date
                %th Place
                %th 
            %tbody
              - @upcoming_reservations.each do |reservation|
                %tr
                  %td= reservation.owner_player_id == current_user.player.id ? 'Own' : 'Guest'
                  %td= reservation.display_datetime
                  %td= reservation.place
                  %td= link_to fa_icon('eye'), reservation_path(reservation), class: 'btn sportify-small-button sportify-radius fs-5'
      - else  
        %h2.sportify-font You don't have any upcoming reservations
        %br
        = link_to fa_icon('plus', text: 'Create a Reservation'), new_reservation_path, class: 'btn sportify-primary-button sportify-wide-button sportify-radius sportify-font fs-4'
    - else
      %h1.sportify-font Welcome to Sportify!
      %br
      = link_to fa_icon('user-plus', text: 'Sign Up Now!'), new_user_registration_path, class: 'btn sportify-wide-button sportify-primary-button sportify-radius sportify-font fs-4'
      -# = video_tag 'videos/mock-up-home-page.mp4', size: '500x350', autoplay: true, loop: true
