.sportify-page
  .sportify-panel.sportify-big-panel.sportify-radius
    %h1.sportify-font GamesFeed
    %br
    .table-responsive
      %table.table.table-success.table-striped
        %thead
          %tr
            %th Date
            %th Place
            %th Join
        %tbody
          - @recent_reservations.each do |reservation|
            %tr
              %td= reservation.date
              %td= reservation.place
              %td= link_to fa_icon('eye'), reservation_path(reservation), class: "btn sportify-small-button sportify-radius fs-5 #{highlight_reservation_class(reservation, current_user.player)}"
          - @upcoming_reservations.each do |reservation|
            %tr
              %td= reservation.date
              %td= reservation.place
              - if reservation.participate?(current_player)
                %td= link_to fa_icon('eye'), reservation_path(reservation), class: 'btn sportify-small-button sportify-radius fs-5 participate-reservation-highlight'      
              - else
                %td= link_to fa_icon('arrow-right'), new_join_request_path(reservation_id: reservation.id, player_id: current_player.id), class: 'btn sportify-small-button sportify-radius fs-5'
  .sportify-panel.sportify-small-panel.sportify-radius
    %h1.sportify-font Details
    %br
