.sportify-page
  .sportify-panel.sportify-big-panel.sportify-radius
    %h1.sportify-font GamesFeed
    %br
    .table-responsive
      %table.table.table-success.table-striped
        %thead
          %tr
            %th Date
            %th Place
            %th Join
        %tbody
          - @recent_reservations.each do |reservation|
            %tr
              %td= reservation.date
              %td= reservation.place
              %td= link_to fa_icon('eye'), reservation_path(reservation), class: "btn sportify-small-button sportify-radius fs-5 #{highlight_reservation_class(reservation, current_user.player)}"
          - @upcoming_reservations.each do |reservation|
            %tr
              %td= reservation.date
              %td= reservation.place
              %td= link_to fa_icon(reservation.participate?(current_player) ? 'eye' : 'arrow-right'), reservation_path(reservation), class: "btn sportify-small-button sportify-radius fs-5 #{highlight_reservation_class(reservation, current_user.player)}"      
  .sportify-panel.sportify-small-panel.sportify-radius
    %h1.sportify-font Details
    %br
