%div{ class: 'sportify-page', 'data-controller' => 'reservations' }
  .sportify-panel.sportify-big-panel.sportify-radius
    %h1.sportify-font{ 'data-reservations-target' => 'title' }= "#{@selected_field.label} Timetable"
    -# %h1.sportify-font{ data: { target: 'reservations.title' } }= "#{@arena.fields.first.label} Timetable"
    -# %h1.sportify-font{ 'data-reservations-title-value' => "#{@arena.fields.first.label} Timetable" }= "#{@arena.fields.first.label} Timetable"
    %div#timetable
      = render partial: 'timetable', locals: { timetable: @timetable }

  .sportify-panel.sportify-small-panel.sportify-radius
    %h1.sportify-font New Reservation
    -# = render 'form'
    = form_for @reservation do |f|
      .field
        = hidden_field_tag :owner_player_id, current_user.player.id
        
        = label_tag :field, 'Field', class: 'sportify-label'
        = select_tag :field_id, options_from_collection_for_select(@arena.fields, 'id', 'label', @arena.fields.first.id), data: { action: 'reservations#refreshTimetable', 'reservations_target' => 'field' }, class: 'form-select form-control' # TODO: refactor
        
        .form-group
          = f.label :booking_date, class: 'sportify-label'
          = f.date_field :booking_date, class: 'form-control'
        .form-group
          = f.label :booking_hour, class: 'sportify-label'
          %br
          // in loc de [1,2,3,4] o sa vina options_from_select(ReservationManager)
          = f.select :booking_hour, mocked_hours, {}, class: 'form-select form-control'
      %br
      %br
      .actions
        = f.submit 'Set up Reservation', id: 'create-reservation-button', class: 'btn sportify-primary-button sportify-radius fs-4'
