.sportify-page
  .sportify-panel.sportify-small-panel.sportify-radius
    %h1.sportify-font Owner Player Details
    .form-group 
      = label_tag :name, 'Name', class: 'sportify-label'
      .form-control{ disabled: true }= @owner_player.name
    .form-group 
      = label_tag :nickname, 'Nickname', class: 'sportify-label'
      .form-control{ disabled: true }= @owner_player.name
    .form-group 
      = label_tag :age, 'Age', class: 'sportify-label'
      .form-control{ disabled: true }= @owner_player.age
    .form-group 
      = label_tag :phone_number, 'Phone Number', class: 'sportify-label'
      .form-control{ disabled: true }= @owner_player.phone_number
  .sportify-panel.sportify-small-panel.sportify-radius
    %h1.sportify-font Reservation Details
    .form-group 
      = label_tag :date, 'Date', class: 'sportify-label'
      .form-control{ disabled: true }= @reservation.date
    .form-group 
      = label_tag :place, 'Place', class: 'sportify-label'
      .form-control{ disabled: true }= @reservation.place
    // maybe remove SlotsStatus
    .form-group 
      = label_tag :status, 'Slots Status', class: 'sportify-label'
      .form-control{ disabled: true }= @reservation.slots_status
    .form-group 
      = label_tag :free_slots, 'Free Slots', class: 'sportify-label'
      .form-control{ disabled: true }= "#{@reservation.free_slots} slots"
    .form-group 
      = label_tag :phone_number, 'Arena Phone Number', class: 'sportify-label'
      .form-control{ disabled: true }= @reservation.field.arena.phone_number
  .sportify-panel.sportify-small-panel.sportify-radius
    %h1.sportify-font Actions
    - if current_player == @owner_player
      - if @reservation.invitation_token
        .form-group 
          = label_tag :invitation_link, 'Invitation Link', class: 'sportify-label'
          .form-control{ disabled: true }= @reservation.invitation_link    
      - else
        = link_to fa_icon('link', text: 'Generate Invitation Link'), generate_invitation_link_reservation_path(@reservation), class: 'btn sportify-primary-button sportify-wide-button sportify-radius sportify-font fs-4'
        %br
      %br
      = link_to fa_icon('times', text: 'Cancel Reservation'), reservation_path(@reservation), class: 'btn sportify-primary-button sportify-wide-button sportify-radius sportify-font fs-4', method: :delete, data: { confirm: 'Are you sure?' }
      %br
      %br
    - else
      -# TechQuestion? How to avoid this booleand iVars? 
      - if @valid_invitation_token
        = link_to fa_icon('check', text: 'Accept Invitation'), accept_invitation_reservation_path(@reservation), class: 'btn sportify-primary-button sportify-wide-button sportify-radius sportify-font fs-4 participate-reservation-highlight'
        %br
        %br
    = link_to fa_icon('rotate-left', text: 'Back to GamesFeed'), reservations_path, id: 'join-requests-ask-to-join-button', class: 'btn sportify-primary-button sportify-radius sportify-font fs-4'
