= "Hi, #{@guest_player.nickname}"
%br
%br
= "We're sorry to inform you that player #{@owner_player.nickname} canceled the reservation #{@reservation_info}."
%br
%br
We notify you about this because you were supposed to join this reservation.
%br
%br
= "#{@owner_player.nickname} canceled this reservation at #{@time.strftime(Reservation::DEFAULT_DATE_FORMAT)}."
%br
%br
= "Here's #{@owner_player.nickname} phone number for more details: #{@owner_player.phone_number}"
