= "Hi, #{@player.nickname}"
%br
%br
= "We're sorry to inform you that player #{@owner_player.nickname} canceled the reservation #{@reservation_info}."
%br
%br
We notify you about this because you were supposed to join this reservation.
%br
%br
= "Here's #{@owner_player.nickname} phone number for more details: #{@owner_player.phone_number}"
