.sportify-page
  .sportify-panel.sportify-small-panel.sportify-radius
    %h1.sportify-font Coins Shop
    = form_tag(checkout_path, method: :get) do
      .form-group
        = label_tag :current_amount, 'Current Amount', class: 'sportify-label'
        .form-control{ disabled: true }= current_user.tokens
        %br
      .form-group
        = label_tag :order_amount, 'Order Amount', class: 'sportify-label'
        %br
        %em Please introduce the amount of Sportify Coins you would like to purchase:
        %br
        = number_field_tag :order_amount, nil, min: 1, class: 'form-control'
        %br
        %br
        = button_tag fa_icon('bag-shopping', text: 'Go to Checkout'), type: 'submit', class: 'btn sportify-primary-button sportify-wide-button sportify-radius sportify-font fs-4'
  .sportify-panel.sportify-big-panel.sportify-radius
    %h1.sportify-font Sportify Shop
    .products-wrapper
      - @products.each do |product|
        - product_type = product.class
        .sportify-panel.sportify-product-panel.sportify-radius
          = product_type.sample.photo
          = product_type
