.sportify-page
  - if @items.empty?
    .sportify-panel.sportify-small-panel.sportify-radius
      %h1.sportify-font My Collection
      %h3.sportify-font You don't have any items in your Collection yet.
      %br
      = link_to fa_icon('shopping-cart', text: 'Go to Sportify Coins Shop'), sportify_coins_shop_path, class: 'btn sportify-primary-button sportify-wide-button sportify-radius sportify-font fs-4'
  - else
    .sportify-panel.sportify-big-panel.sportify-radius 
      %h1.sportify-font My Collection
      %br
      .products-wrapper
        - @items.each do |item|
          - item_type = item.class
          .sportify-panel.sportify-product-panel.sportify-radius
            %h3.sportify-font
              = item_type
            .form-group 
              = label_tag :color, 'Color', class: 'sportify-label'
              .form-control{ disabled: true }= item.color
            - if item_type == Tshirt
              .form-group
                = label_tag :size, 'Size', class: 'sportify-label'
                .form-control{ disabled: true }= item.size
              .form-group
                = label_tag :nickname, 'Nickname', class: 'sportify-label'
                .form-control{ disabled: true }= item.nickname
