.sportify-page
  .sportify-panel.sportify-small-panel.sportify-radius
    -# = link_to fa_icon('location-arrow', text: 'Arenas'), arenas_path, id: 'arenas-create-reservation-button', class: 'btn sportify-primary-button sportify-radius sportify-font fs-4'
    = link_to fa_icon('user-plus', text: 'Join Requests'), join_requests_player_path(current_user.player), id: 'my-reservations-join-requests-button', class: 'btn sportify-primary-button sportify-radius sportify-font fs-4'
    %br
    %br
    %br

    %h1.sportify-font Upcoming Reservations
    %br

    .table-responsive
      %table.table.table-success.table-striped
        %thead
          %tr
            %th Type
            %th Date
            %th Place
            %th 
        %tbody
          - @upcoming_reservations.each do |reservation|
            %tr
              %td= reservation.owner_player_id == current_user.player.id ? 'Own' : 'Guest' # TechQuestion TODO: refactor this 
              %td= reservation.date
              %td= reservation.place
              %td= link_to fa_icon('eye'), reservation_path(reservation), class: 'btn sportify-small-button sportify-radius fs-5'

  .sportify-panel.sportify-big-panel.sportify-radius
    .buttons-container
      -# = link_to fa_icon('location-arrow', text: 'Arenas'), arenas_path, id: 'my-reservations-arenas-button', class: 'btn sportify-primary-button sportify-radius sportify-font fs-4'
      = link_to fa_icon('group', text: 'GamesFeed'), reservations_path, id: 'my-reservations-gamesfeed-button', class: 'btn sportify-primary-button sportify-radius sportify-font fs-4'
      %span
      = link_to fa_icon('address-card', text: 'My Stats'), stats_player_path(current_user.player), id: 'my-reservations-player-stats-button', class: 'btn sportify-primary-button sportify-radius sportify-font fs-4'
    %br
    %br

    %h1.sportify-font Past Reservations
    %br

    .table-responsive
      %table.table.table-success.table-striped
        %thead
          %tr
            %th Type
            %th Date
            %th Place
            %th Other
            %th info
            %th
        %tbody
          - @past_reservations.each do |reservation|
            %tr
              %td= reservation.owner_player_id == current_user.player.id ? 'Own' : 'Guest' # TechQuestion TODO: refactor this 
              %td= reservation.date
              %td= reservation.place
              %td
              %td
              %td= link_to fa_icon('eye'), reservation_path(reservation), class: 'btn sportify-small-button sportify-radius fs-5'
