.sportify-page
  .sportify-panel.sportify-big-panel.sportify-radius
    %h1.sportify-font= "Rating #{@player.rating} (#{pluralize(@player.own_reviews.count, 'review')})" 
    = line_chart @rating_chart_data, library: { hAxis: { format: 'dd-mm-yyyy' } }
  .sportify-panel.sportify-small-panel.sportify-radius
    %h1.sportify-font Reservations
    = pie_chart @reservations_chart_data
