!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Sportify
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://js.stripe.com/v3/"}
    %script{:async => "", :src => "https://maps.googleapis.com/maps/api/js?key=#{ 'AIzaSyCAgn5QaoWzvfh0hJPiY39IRznbxwYzLhI' }&callback=initMap"}
  %body
    %p.notice= notice
    %p.alert= alert
    - if current_user
      Sporty COINS: 
      = current_user.tokens
    = yield
